

.blog__section-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.blog__section-search button {
    padding: .4rem .8rem;
    background-color: transparent;
    border: 1px solid rgb(152, 152, 152);
    transition: background-color 200ms ease-in-out;
}

.blog__section-search button:hover {
    background-color: rgb(0, 221, 255);
    border: 1px solid rgb(0, 221, 255);
    color: white;
}


.blog__section-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0 1rem 0;
}

.blog__section-card {
    width: 400px;
    background-color: #fff;
    height: 450px;
    box-shadow: 0 0 10px rgba(22, 22, 29, 0.187);
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
}

.blog__section-card .card-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-top: .5rem;
}

.card-info h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(53, 55, 60);
}

.card-info p.card-description {
    font-size: 14px;
    color: gray;
}

.card-info .read__info {
    font-size: 13px;
    display: flex;
    padding: .5rem 0 1rem 0;
    gap: 2rem;
    align-items: center;
}